body{
    margin: 0px;
    height: 100vh;
    background: linear-gradient(#036,#fff,#a0c0f0,#6699CC);
  }
  header{
    height: 170px;
    text-align: center;
    /* padding-top: 60px; */
  }
  header h1{
    /* background-color: red; */
    margin: auto;
    padding-top: 45px;
    font-size: 50px;
    font-family: "?????", YuGothic, sans-serif;
  
    position: relative;
    background: -webkit-linear-gradient(135deg, #f44336 0%,#ff9800 17%,#ffeb3b 32%,#4caf50 50%,#2196f3 67%,#3f51b5 84%,#9c27b0 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  
  
  #wrapper {
      width: 980px;
      margin: 0 auto;
  }
  .my-profile {
      
      height: 300px;
      width: 300px;
      background-color: aquamarine;
      color: black;
  }
  .profile0 {
      height: 300px;
      width: 300px;
      background-color: darkcyan;
      color: black;
      float: left;
      margin: 1px;
  }
  .profile1 {
      height: 300px;
      width: 300px;
      background-color: cadetblue;
      color: black;
      float: left;
      margin: 1px;
  }
  .profile2 {
      height: 300px;
      width: 300px;
      background-color: mediumaquamarine;
      color: black;
      float: left;
      margin: 1px;
  }
  .profile0:hover{
      background-color: darkseagreen;
  }
  .profile1:hover{
      background-color: darkseagreen;
  }
  .profile2:hover{
      background-color: darkseagreen;
  }
  .profile:active{
      background-color: darkgreen;
  }
  .profileimg{
      width: 100px;
      height: 100px;
      margin: 10px;
      border-radius: 50%;
  }
  .coment{
      margin: 5px;
      width: 290px;
      height: 75px;
  }
  /*-???-*/
  @media screen and (max-width: 896px){
      #wrapper {
      width: 50%;
      margin: 0 auto;
      }
      .profile0, .profile1, .profile2{
          height: 177px;
          width: 177px;
      }
      .profileimg{
          width: 50%;
          height: 50%;
      }
      .profile0 p, .profile1 p, .profile2 p{
          font-size: 10px;
      margin: 0;
      }
      .a0, .a1, .a2{
      display: none;
      }
      .result{
      margin: 0;
      padding: inherit;
      }
  }